.main {
    width: 800px;
    height: 600px;
    background-color: rgb(139, 139, 139);
    margin: 0 auto;
    padding: 10px;
}

.main p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    line-height: 200%;
}