* {
    padding: 0;
    margin: 0;
}

.main {
    width: 1000px;
    /* height: 800px; */
    /* background-color: aqua; */
    margin: 0 auto;
}

.main .left {
    width: 700px;
    /* height: 800px; */
    /* background-color: blue; */
    float: left;
}

.main .left .news1,
.main .left .news2 {
    display: inline-block;
    width: 330px;
    height: 200px;
    background-color: #d7d7d7;
    margin-left: 17px;
}

.main .left .news1 li,
.main .left .news2 li {
    list-style: none;
    margin: 3px 3px;
    color: rgb(0, 0, 0);
}

.main .left .more {
    width: 700px;
    height: 300px;
    /* background-color: tomato; */
}

.main .right {
    width: 300px;
    /* height: 800px; */
    /* background-color: blueviolet; */
    float: right;
}

.main .right p {
    text-align: center;
    color: gold;
    font-family: "楷体";
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px black;
}

.main .right li {
    display: block;
    width: 200px;
    height: 300px;
    background-color: orange;
    margin: 0 50px;
}